
.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
    height: 100vh;

    h1 {
        color: $--clr-accent;
    }

    p {
        font-size: 1.2rem;
    }
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin: 50px;
    

    input {
        width: 100%;
        margin: 10px;
        height: 40px;
        border: 1;
        border: 1px thin black;
        border-radius: 5px
    
    }

    textarea {
        width: 100%;
        margin: 10px;
        height: 200px;
        margin: 10px;
        border: 1px thin black;
        border-radius: 5px;
    }
    }
  
//   .but {
//     margin: 10px;
//       height: 50px;
//       width:  100px;
//       align-self: center;
//   }
  .but {
    display: inline-block;
    padding: .5em 1.5em;
    margin-top: 50px;
    height: 50px;
    width:  100px;
    background: grey;
    color: $--clr-light;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $--fw-reg;
    align-self: center;
    // transition: transform 200ms ease-in-out;
}

.but:hover {
    opacity: .8;
    background-color: $--clr-accent;
    color: $--clr-dark;
}


  @media (min-width: 700px) {
      form {
    input {
        width: 100%;
        width: 500px;
        height: 40px;
        border: 1;
        border: 1px thin black;
        border-radius: 5px
    }
    textarea {
        width: 100%;
        margin: 10px;
        height: 400px;
        margin: 10px;
        border: 1px thin black;
        border-radius: 5px;
    }
    
    }

    .but {
        margin: 10px;
          height: 50px;
          width:  200px;
          align-self: center;
      }


}