html {
	scroll-behavior: smooth;
}

body {
	background-color: $body-bg-color;	
}

.container {
	padding: 0 100px 0 100px;
}

.main-info-section {
	height: calc(100vh - 81.6px);
}

.text {
	margin-top: 120px;

	h1 {
		color: $white-color;
		font-size: 3rem;
		cursor: context-menu;
	}

	p{
		letter-spacing: 3px;
		word-spacing: 10px;
		font-size: .8rem;
		color: $grey-color;
	}
	
	span {
		display: inline-block;


		&:hover {
			color: $Home-hover-Color;
			transition: all .5s;
		}

		&.name {
			color: red;
		}

		&.m-left {
			margin-left: -10px;
		}
	}
}

.profile-image img{
	width: 450px;
	margin-top: 50px;
}