body {
    background: $--clr-light;
    color: $--clr-dark;
    margin: 0;
    font-family: $--ff-primary;
    font-size: $--fs-body;
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: $--fw-bold;
}

// typography

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: $--fs-h1;
}
h2 {
    font-size: $--fs-h2;
}
h3 {
    font-size: $--fs-h3;
}

.section__title {
    margin-bottom: 1rem;
}

.section__title--intro {
    font-weight:  $--fw-reg;

    strong {
        display: block;
    }
}

.section__subtitle{
    margin: 0;
    font-size:  $--fs-h3;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: $--clr-accent;
    font-family: $--ff-secondary;
    margin-bottom: 1em;
}


// intro

.intro {
    position: relative;
}

.intro__img {
    box-shadow: $--bs;
}


@media (min-width: 800px) {
    body 
         {$--fs-h1: 4.5rem;
         $--fs-h2: 3.75rem;
         $--fs-h3: 1.5rem;
         $--fs-body: 1.125rem;
     } }
 
     @media (min-width: 600px) {
         .intro {
             display: grid;
             width: min-content;
             margin: 0 auto;
             grid-column-gap: 1em;
             grid-template-areas: 
                 "img title"
                 "img subtitle";
             grid-template-columns: min-content max-content;
         }
         
         .intro__img {
             grid-area: img;
             min-width: 250px;
             position: relative;
             z-index: 5;
         }    
         
         .section__subtitle--intro {
             align-self: start;
             grid-column: -1 / 1;
             grid-row: 2;
             text-align: right;
             position: relative;
             left: -1.5em;
             width: calc(100% + 1.5em);
         }
     }
 


