@media (min-width: 800px) {
  body
        {$--fs-h1: 4.5rem;
        $--fs-h2: 3.75rem;
        $--fs-h3: 5rem;
        $--fs-body: 1.125rem;
    }
}

    @media (min-width: 600px) {

        .logo {
            max-width: 200px;
            padding-left: 3em;
        }

        .intro {
            display: grid;
            width: min-content;
            margin: 0 auto;
            grid-column-gap: 1em;
            grid-template-areas: 
                "img title"
                "img subtitle";
            grid-template-columns: min-content max-content;
        }
        
        .intro__img {
            grid-area: img;
            min-width: 400px;
            position: relative;
            z-index: 5;
        }    
        
        .section__subtitle--intro {
            align-self: start;
            grid-column: -1 / 1;
            grid-row: 2;
            text-align: right;
            position: relative;
            left: -1.5em;
            width: calc(100% + 1.5em);
            font-size: $--fs-h3;
            font-weight: $--fw-bold;
        }



        
	// #contact .contact {
	// 	flex-direction: column;
	// 	padding: 100px 0;
	// 	align-items: center;
	// 	justify-content: center;
	// 	min-width: 20vh;
	// }
	// #contact .contact-items {
	// 	width: 100%;
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// 	margin: 0;
	// }
	// #contact .contact-item {
	// 	width: 30%;
	// 	margin: 0;
	// 	flex-direction: row;
	// }
	// #contact .contact-item .icon {
	// 	height: 100px;
	// 	width: 100px;
	// }
	// #contact .contact-item .icon img {
	// 	object-fit: contain;
	// }
	// #contact .contact-item .contact-info {
	// 	width: 100%;
	// 	text-align: left;
	// 	padding-left: 20px;
	// }
    }


